.start{
    position: absolute;
    z-index:1000 ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(116, 114, 113, 0.589);
    backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
}

.start button{
    background-color:#779954;
    color: #fff;
}


